In [457]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import os

In [458]:
#State Assessments—By grade and special populations-2017
#Source EDFACTS

In [459]:
assessments_2017 = pd.read_csv("schools_edfacts_assessments_2017.csv")
assessments_2017.columns

Index(['ncessch_num', 'ncessch', 'year', 'school_name', 'leaid_num', 'leaid',
       'lea_name', 'fips', 'grade_edfacts', 'race', 'sex', 'lep', 'homeless',
       'migrant', 'disability', 'econ_disadvantaged', 'foster_care',
       'military_connected', 'read_test_num_valid', 'read_test_pct_prof_low',
       'read_test_pct_prof_high', 'read_test_pct_prof_midpt',
       'math_test_num_valid', 'math_test_pct_prof_low',
       'math_test_pct_prof_high', 'math_test_pct_prof_midpt'],
      dtype='object')

In [453]:
assessments_2017[["ncessch",""]]
df.groupby('StationID', as_index=False)['BiasTemp'].mean()

,ncessch_num,ncessch,year,school_name,leaid_num,leaid,lea_name,fips,grade_edfacts,race,...,foster_care,military_connected,read_test_num_valid,read_test_pct_prof_low,read_test_pct_prof_high,read_test_pct_prof_midpt,math_test_num_valid,math_test_pct_prof_low,math_test_pct_prof_high,math_test_pct_prof_midpt
0,10000500870,10000500870,2017,Albertville Middle School,100005,100005,Albertville City,1,99,99,...,99,99,801.0,43.0,43.0,43.0,802.0,47.0,47.0,47.0
1,10000500870,10000500870,2017,Albertville Middle School,100005,100005,Albertville City,1,99,4,...,99,99,5.0,-3.0,-3.0,-3.0,5.0,-3.0,-3.0,-3.0
2,10000500870,10000500870,2017,Albertville Middle School,100005,100005,Albertville City,1,99,2,...,99,99,32.0,30.0,39.0,34.5,32.0,30.0,39.0,34.5
3,10000500870,10000500870,2017,Albertville Middle School,100005,100005,Albertville City,1,99,99,...,99,99,51.0,11.0,19.0,15.0,51.0,11.0,19.0,15.0
4,10000500870,10000500870,2017,Albertville Middle School,100005,100005,Albertville City,1,99,99,...,99,99,309.0,30.0,30.0,30.0,310.0,37.0,37.0,37.0

In [ ]:
#The assessment data is reported at the grade level so the ncessch is not a unique number. 
#1- groupby the dataframe by id and grade and mean of a test score
#2- pivot_table to make a df such that it has 1 row for each id and separate column for each grade with mean values of the test scores in that column

This endpoint contains school-level geographic information, grades offered, and information on school type (including charter, magnet, and alternative schools). Source: The Civil Rights Data Collection (CRDC)

In [425]:
from urllib.request import urlopen
from json import loads
url = "https://educationdata.urban.org/api/v1/schools/crdc/directory/2017/"
response = urlopen(url)
crdc_directory = loads(response.read())
crdc_directory=pd.DataFrame(crdc_directory["results"])
crdc_directory.columns

Index(['crdc_id', 'year', 'fips', 'leaid', 'ncessch', 'school_name_crdc',
       'schoolid_crdc', 'lea_name', 'leaid_crdc', 'lea_state', 'prek', 'k',
       'g1', 'g2', 'g3', 'g4', 'g5', 'g6', 'g7', 'g8', 'g9', 'g10', 'g11',
       'g12', 'ug', 'primarily_serve_students_w_dis', 'charter_crdc',
       'magnet_crdc', 'entire_school_magnet', 'alt_school', 'alt_school_focus',
       'ability_grouped_math_or_eng', 'ug_elementary_school',
       'ug_middle_school', 'ug_high_school'],
      dtype='object')

In [452]:
len(crdc_directory.drop_duplicates(keep='first'))

9921

In [456]:
crdc_directory.columns

Index(['crdc_id', 'year', 'fips', 'leaid', 'ncessch', 'school_name_crdc',
       'schoolid_crdc', 'lea_name', 'leaid_crdc', 'lea_state', 'prek', 'k',
       'g1', 'g2', 'g3', 'g4', 'g5', 'g6', 'g7', 'g8', 'g9', 'g10', 'g11',
       'g12', 'ug', 'primarily_serve_students_w_dis', 'charter_crdc',
       'magnet_crdc', 'entire_school_magnet', 'alt_school', 'alt_school_focus',
       'ability_grouped_math_or_eng', 'ug_elementary_school',
       'ug_middle_school', 'ug_high_school'],
      dtype='object')

In [441]:
#droping missing values
crdc_directory[crdc_directory["ncessch"]==''].index

Int64Index([], dtype='int64')

In [435]:
crdc_directory = crdc_directory.drop(index=[3,   80,   81,   85,  126,  377,  523,  649,  829, 1597, 2155,
            2356, 2753, 2846, 3191, 3192, 3193, 3194, 3195, 3236, 3460, 3461,
            3462, 3463, 3464, 3465, 3466, 3467, 3542, 3654, 3900, 3901, 3902,
            3903, 3904, 3905, 3906, 3907, 3908, 3909, 3910, 3911, 3912, 3913,
            3914, 3915, 3916, 3917, 3943, 3971, 3972, 3973, 3974, 3975, 3976,
            3977, 4312, 4394, 4647, 4731, 5338, 5470, 5471, 5557, 5845, 6178,
            6179, 6180, 6425, 7282, 7423, 7638, 8047, 8866, 8867, 8868, 8869,
            8870, 8871])

In [419]:
#changing the type for merging
crdc_directory["ncessch"]=crdc_directory["ncessch"].astype(np.int64)

In [422]:
test = pd.merge(schools_assessments_2017,crdc_directory, left_on = "ncessch" , right_on= "ncessch", how="inner")
test.head()

,ncessch_num,ncessch,year_x,school_name,leaid_num,leaid_x,lea_name_x,fips_x,grade_edfacts,race,...,primarily_serve_students_w_dis,charter_crdc,magnet_crdc,entire_school_magnet,alt_school,alt_school_focus,ability_grouped_math_or_eng,ug_elementary_school,ug_middle_school,ug_high_school
0,10000500870,10000500870,2017,Albertville Middle School,100005,100005,Albertville City,1,99,99,...,0,0,0,-2,0,-2,None,-2,-2,-2
1,10000500870,10000500870,2017,Albertville Middle School,100005,100005,Albertville City,1,99,4,...,0,0,0,-2,0,-2,None,-2,-2,-2
2,10000500870,10000500870,2017,Albertville Middle School,100005,100005,Albertville City,1,99,2,...,0,0,0,-2,0,-2,None,-2,-2,-2
3,10000500870,10000500870,2017,Albertville Middle School,100005,100005,Albertville City,1,99,99,...,0,0,0,-2,0,-2,None,-2,-2,-2
4,10000500870,10000500870,2017,Albertville Middle School,100005,100005,Albertville City,1,99,99,...,0,0,0,-2,0,-2,None,-2,-2,-2

In [333]:
from urllib.request import urlopen
from json import loads
url = "https://educationdata.urban.org/api/v1/schools/crdc/enrollment/2017/disability/sex/"
response = urlopen(url)
enrollment = loads(response.read())
enrollment=pd.DataFrame(enrollment["results"])

In [334]:
#Discipline by disabilties,LEP and sex from crdc - 2017

In [335]:
from urllib.request import urlopen
from json import loads
url = "https://educationdata.urban.org/api/v1/schools/crdc/discipline/2017/disability/lep/sex/"
response = urlopen(url)
Disciplinebydisabilties = loads(response.read())
Disciplinebydisabilties =pd.DataFrame(Disciplinebydisabilties["results"])

In [336]:
#Teachers and Staff-2017

In [337]:
from urllib.request import urlopen
from json import loads
url = "https://educationdata.urban.org/api/v1/schools/crdc/teachers-staff/2017/"
response = urlopen(url)
TeachersandStaff = loads(response.read())
TeachersandStaff=pd.DataFrame(TeachersandStaff["results"])

In [338]:
#Math and Science Course Enrollment—By disability and sex-2017

In [339]:
from urllib.request import urlopen
from json import loads
url = "https://educationdata.urban.org/api/v1/schools/crdc/math-and-science/2017/disability/sex/"
response = urlopen(url)
math_science_enrollment = loads(response.read())
math_science_enrollment = pd.DataFrame(math_science_enrollment["results"])

In [340]:
#Algebra I—By disability and sex

In [341]:
from urllib.request import urlopen
from json import loads
url = "https://educationdata.urban.org/api/v1/schools/crdc/algebra1/2017/disability/sex/"
response = urlopen(url)
algebra = loads(response.read())
algebra=pd.DataFrame(algebra["results"])

In [342]:
#School Finance

In [362]:
from urllib.request import urlopen
from json import loads
url = "https://educationdata.urban.org/api/v1/schools/crdc/school-finance/2017/"
response = urlopen(url)
school_finance = loads(response.read())
school_finance = pd.DataFrame(school_finance["results"])
school_finance.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 15 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   crdc_id                       10000 non-null  object
 1   year                          10000 non-null  int64
 2   ncessch                       10000 non-null  object
 3   leaid                         10000 non-null  object
 4   fips                          10000 non-null  int64
 5   salaries_teachers             10000 non-null  int64
 6   salaries_total                10000 non-null  object
 7   salaries_instruc_staff        0 non-null      object
 8   salaries_instructional_aides  10000 non-null  object
 9   salaries_support              10000 non-null  object
 10  salaries_administration       10000 non-null  object
 11  expenditures_nonpersonnel     10000 non-null  object
 12  instructional_aides_fte       10000 non-null  object
 13  support_fte                   10000 non-null  object
 14  administration_fte            10000 non-null  object
dtypes: int64(3), object(12)
memory usage: 1.1+ MB

In [368]:
school_finance['ncessch']

0       010000201705
1       010000201706
2       010000201876
3
4       010000500870
            ...
9995    062316010903
9996    062316011670
9997    062316012156
9998    062316013431
9999    062334003282
Name: ncessch, Length: 10000, dtype: object

In [367]:
school_finance['key']= school_finance['ncessch'].astype(str).astype(int)
school_finance.info()

ValueError: invalid literal for int() with base 10: ''

In [344]:
#Retention

In [345]:
from urllib.request import urlopen
from json import loads
url = "https://educationdata.urban.org/api/v1/schools/crdc/retention/2017/grade-3/disability/sex"
response = urlopen(url)
retention = loads(response.read())
retention=pd.DataFrame(retention)
retention=retention["results"]

In [372]:
assessments_2017.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4069382 entries, 0 to 4069381
Data columns (total 26 columns):
 #   Column                    Dtype
---  ------                    -----
 0   ncessch_num               int64
 1   ncessch                   int64
 2   year                      int64
 3   school_name               object
 4   leaid_num                 int64
 5   leaid                     int64
 6   lea_name                  object
 7   fips                      int64
 8   grade_edfacts             int64
 9   race                      int64
 10  sex                       int64
 11  lep                       int64
 12  homeless                  int64
 13  migrant                   int64
 14  disability                int64
 15  econ_disadvantaged        int64
 16  foster_care               int64
 17  military_connected        int64
 18  read_test_num_valid       float64
 19  read_test_pct_prof_low    float64
 20  read_test_pct_prof_high   float64
 21  read_test_pct_prof_midpt  float64
 22  math_test_num_valid       float64
 23  math_test_pct_prof_low    float64
 24  math_test_pct_prof_high   float64
 25  math_test_pct_prof_midpt  float64
dtypes: float64(8), int64(16), object(2)
memory usage: 807.2+ MB

In [383]:

missing = pd.concat([assessments_2017.isnull().sum(), 100 * assessments_2017.isnull().mean()], axis=1)
missing.columns=['count', '%']
missing.sort_values(by='count',ascending=False)

                           count         %
math_test_pct_prof_midpt  106775  2.623863
math_test_pct_prof_high   106775  2.623863
math_test_pct_prof_low    106775  2.623863
math_test_num_valid       106775  2.623863
read_test_pct_prof_midpt   50302  1.236109
read_test_pct_prof_high    50302  1.236109
read_test_pct_prof_low     50302  1.236109
read_test_num_valid        50302  1.236109
ncessch                        0  0.000000
military_connected             0  0.000000
foster_care                    0  0.000000
econ_disadvantaged             0  0.000000
disability                     0  0.000000
ncessch_num                    0  0.000000
homeless                       0  0.000000
lep                            0  0.000000
sex                            0  0.000000
race                           0  0.000000
grade_edfacts                  0  0.000000
fips                           0  0.000000
lea_name                       0  0.000000
leaid                          0  0.000000
leaid_num                      0  0.000000
school_name                    0  0.000000
year                           0  0.000000
migrant                        0  0.000000

In [381]:
assessments_2017['math_test_pct_prof_midpt']

0          47.0
1          -3.0
2          34.5
3          15.0
4          37.0
           ...
4069377    10.0
4069378     7.5
4069379     7.5
4069380     7.5
4069381     7.5
Name: math_test_pct_prof_midpt, Length: 4069382, dtype: float64

In [349]:
#merging the dataframes using concat

In [350]:
test = pd.concat([schools_assessments_2017, school_finance.reindex(schools_assessments_2017.index)], axis=1)

In [361]:
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4069382 entries, 0 to 4069381
Data columns (total 41 columns):
 #   Column                        Dtype
---  ------                        -----
 0   ncessch_num                   int64
 1   ncessch                       int64
 2   year                          int64
 3   school_name                   object
 4   leaid_num                     int64
 5   leaid                         int64
 6   lea_name                      object
 7   fips                          int64
 8   grade_edfacts                 int64
 9   race                          int64
 10  sex                           int64
 11  lep                           int64
 12  homeless                      int64
 13  migrant                       int64
 14  disability                    int64
 15  econ_disadvantaged            int64
 16  foster_care                   int64
 17  military_connected            int64
 18  read_test_num_valid           float64
 19  read_test_pct_prof_low        float64
 20  read_test_pct_prof_high       float64
 21  read_test_pct_prof_midpt      float64
 22  math_test_num_valid           float64
 23  math_test_pct_prof_low        float64
 24  math_test_pct_prof_high       float64
 25  math_test_pct_prof_midpt      float64
 26  crdc_id                       object
 27  year                          float64
 28  ncessch                       object
 29  leaid                         object
 30  fips                          float64
 31  salaries_teachers             float64
 32  salaries_total                object
 33  salaries_instruc_staff        object
 34  salaries_instructional_aides  object
 35  salaries_support              object
 36  salaries_administration       object
 37  expenditures_nonpersonnel     object
 38  instructional_aides_fte       object
 39  support_fte                   object
 40  administration_fte            object
dtypes: float64(11), int64(16), object(14)
memory usage: 1.2+ GB

In [409]:
test = pd.merge(schools_assessments_2017,crdc_directory, left_on = "ncessch" , right_on= "ncessch", how="inner")
test.head()

ValueError: You are trying to merge on int64 and object columns. If you wish to proceed you should use pd.concat

In [360]:
test2 = pd.merge(schools_assessments_2017, school_finance, left_on = "ncessch" , right_on= "ncessch", how="inner")
test2.head()

ValueError: You are trying to merge on int64 and object columns. If you wish to proceed you should use pd.concat

In [357]:
schools_assessments_2017.join(school_finance, on=None, how="left", lsuffix='', rsuffix='', sort=False, validate=None)

ValueError: columns overlap but no suffix specified: Index(['ncessch', 'year', 'leaid', 'fips'], dtype='object')

In [ ]:


pd.concat([schools_assessments_2017, school_finance.reindex(schools_assessments_2017.index)], axis=1)

In [ ]:
DataFrame.join(other, on=None, how='left', lsuffix='', rsuffix='', sort=False, validate=None)[source]
Df1.join(df2,on=‘ncessch_num’)
df[‘school name’].isin(df2[‘school name’])

In [189]:
schools_assessments_2017= schools_assessments_2017.drop(columns=['ncessch_num', 'leaid_num', 'fips', 'leaid_num'])

In [215]:
result.columns

Index(['ncessch_x', 'year_x', 'school_name', 'leaid_x', 'lea_name',
       'grade_edfacts', 'race', 'sex', 'lep', 'homeless', 'migrant',
       'disability', 'econ_disadvantaged', 'foster_care', 'military_connected',
       'read_test_num_valid', 'read_test_pct_prof_low',
       'read_test_pct_prof_high', 'read_test_pct_prof_midpt',
       'math_test_num_valid', 'math_test_pct_prof_low',
       'math_test_pct_prof_high', 'math_test_pct_prof_midpt', 'crdc_id',
       'year_y', 'ncessch_y', 'leaid_y', 'fips', 'salaries_teachers',
       'salaries_total', 'salaries_instruc_staff',
       'salaries_instructional_aides', 'salaries_support',
       'salaries_administration', 'expenditures_nonpersonnel',
       'instructional_aides_fte', 'support_fte', 'administration_fte'],
      dtype='object')

In [225]:
print(result.iloc[1])

ncessch_x                                     10000500870
school_name                     Albertville Middle School
leaid_x                                            100005
lea_name                                 Albertville City
grade_edfacts                                          99
race                                                    4
sex                                                    99
lep                                                    99
homeless                                               99
migrant                                                99
disability                                             99
econ_disadvantaged                                     99
foster_care                                            99
military_connected                                     99
read_test_num_valid                                   5.0
read_test_pct_prof_low                               -3.0
read_test_pct_prof_high                              -3.0
read_test_pct_prof_midpt                             -3.0
math_test_num_valid                                   5.0
math_test_pct_prof_low                               -3.0
math_test_pct_prof_high                              -3.0
math_test_pct_prof_midpt                             -3.0
ncessch_y                                    010000201706
leaid_y                                           0100002
salaries_teachers                                 1305463
salaries_instructional_aides                       -2.000
instructional_aides_fte                             0.000
Name: 1, dtype: object

In [150]:
schools_assessments_2018 = pd.read_csv("schools_edfacts_assessments_2018.csv")

In [151]:
#Source: MEPS 
#School Poverty Measure

In [161]:
from urllib.request import urlopen
from json import loads
url = "https://educationdata.urban.org/api/v1/schools/meps/2017/"
response = urlopen(url)
school_poverty = loads(response.read())
school_poverty=pd.DataFrame(school_poverty)
school_poverty= school_poverty["results"]