In [73]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import os

This endpoint contains student membership data for each school by grade. Only operational schools serving one or more grades are required to report membership and only these are included in this endpoint. Source: The Civil Rights Data Collection (CRDC)

In [74]:
crdc_directory = pd.read_csv("schools_crdc_school_characteristics.csv")
crdc_directory.head()

/var/folders/q1/5l3sndps6dj6yrp14kddr27w0000gn/T/ipykernel_5373/3852495690.py:1: DtypeWarning: Columns (0,2,3,34) have mixed types. Specify dtype option on import or set low_memory=False.
  crdc_directory = pd.read_csv("schools_crdc_school_characteristics.csv")

,crdc_id,year,ncessch,leaid_crdc,fips,school_name_crdc,schoolid_crdc,lea_name,lea_state,prek,...,charter_crdc,magnet_crdc,entire_school_magnet,alt_school,alt_school_focus,ability_grouped_math_or_eng,ug_elementary_school,ug_middle_school,ug_high_school,leaid
0,10000201705,2011,10000201705.0,100002,1,WALLACE SCH - MT MEIGS CAMPUS,1705,ALABAMA YOUTH SERVICES,AL,0,...,0,0,-2,0,-2.0,0.0,NaN,NaN,NaN,100002.0
1,10000201705,2013,10000201705.0,100002,1,WALLACE SCH - MT MEIGS CAMPUS,1705,ALABAMA YOUTH SERVICES,AL,0,...,0,0,-2,1,3.0,NaN,-2.0,-2.0,-2.0,100002.0
2,10000201705,2015,10000201705.0,100002,1,Wallace Sch - Mt Meigs Campus,1705,Alabama Youth Services,AL,0,...,0,0,-2,0,-2.0,NaN,0.0,0.0,1.0,100002.0
3,10000201705,2017,10000201705.0,100002,1,Wallace Sch - Mt Meigs Campus,1705,Alabama Youth Services,AL,0,...,0,0,-2,0,-2.0,NaN,-2.0,-2.0,-2.0,100002.0
4,10000201706,2011,10000201706.0,100002,1,MCNEEL SCH - VACCA CAMPUS,1706,ALABAMA YOUTH SERVICES,AL,0,...,0,0,-2,0,-2.0,0.0,NaN,NaN,NaN,100002.0

In [75]:
len(crdc_directory)

385134

In [76]:
crdc_directory.columns

Index(['crdc_id', 'year', 'ncessch', 'leaid_crdc', 'fips', 'school_name_crdc',
       'schoolid_crdc', 'lea_name', 'lea_state', 'prek', 'k', 'g1', 'g2', 'g3',
       'g4', 'g5', 'g6', 'g7', 'g8', 'g9', 'g10', 'g11', 'g12', 'ug',
       'primarily_serve_students_w_dis', 'charter_crdc', 'magnet_crdc',
       'entire_school_magnet', 'alt_school', 'alt_school_focus',
       'ability_grouped_math_or_eng', 'ug_elementary_school',
       'ug_middle_school', 'ug_high_school', 'leaid'],
      dtype='object')

In [77]:
#there are two columns for LEA id.
crdc_directory["leaid_crdc"]

0          100002
1          100002
2          100002
3          100002
4          100002
           ...
385129    9999094
385130    9999095
385131    9999096
385132    9999097
385133    9999098
Name: leaid_crdc, Length: 385134, dtype: object

In [78]:
crdc_directory["leaid"]

0         100002.0
1         100002.0
2         100002.0
3         100002.0
4         100002.0
            ...
385129         NaN
385130         NaN
385131    614550.0
385132    614550.0
385133    614550.0
Name: leaid, Length: 385134, dtype: object

In [79]:
from urllib.request import urlopen
from json import loads
url = "https://educationdata.urban.org/api/v1/schools/crdc/enrollment/2017/race/sex/"
response = urlopen(url)
enrolment2013 = loads(response.read())
enrolment2013 = pd.DataFrame(enrolment2013)
#only the results columns is important.
enrolment2013= enrolment2013["results"]
enrolment2013

0       {'crdc_id': '010000201705', 'ncessch': '010000...
1       {'crdc_id': '010000201705', 'ncessch': '010000...
2       {'crdc_id': '010000201705', 'ncessch': '010000...
3       {'crdc_id': '010000201705', 'ncessch': '010000...
4       {'crdc_id': '010000201705', 'ncessch': '010000...
                              ...
9995    {'crdc_id': '010102000400', 'ncessch': '010102...
9996    {'crdc_id': '010102000400', 'ncessch': '010102...
9997    {'crdc_id': '010102000400', 'ncessch': '010102...
9998    {'crdc_id': '010102000400', 'ncessch': '010102...
9999    {'crdc_id': '010102000400', 'ncessch': '010102...
Name: results, Length: 10000, dtype: object

In [ ]:
#Discipline by disabilties,LEP and sex from crdc - 2017

In [70]:
from urllib.request import urlopen
from json import loads
url = "https://educationdata.urban.org/api/v1/schools/crdc/discipline/2017/disability/lep/sex/"
response = urlopen(url)
data = loads(response.read())

In [71]:
#Teachers and Staff-2017

In [72]:
from urllib.request import urlopen
from json import loads
url = "https://educationdata.urban.org/api/v1/schools/crdc/teachers-staff/2017/"
response = urlopen(url)
data = loads(response.read())

In [ ]:
#Math and Science Course Enrollment—By disability and sex-2017

In [80]:
from urllib.request import urlopen
from json import loads
url = "https://educationdata.urban.org/api/v1/schools/crdc/math-and-science/2017/disability/sex/"
response = urlopen(url)
data = loads(response.read())

In [81]:
#Algebra I—By disability and sex

In [82]:
from urllib.request import urlopen
from json import loads
url = "https://educationdata.urban.org/api/v1/schools/crdc/algebra1/2017/disability/sex/"
response = urlopen(url)
data = loads(response.read())

In [ ]:
#School Finance

In [83]:
from urllib.request import urlopen
from json import loads
url = "https://educationdata.urban.org/api/v1/schools/crdc/school-finance/2017/"
response = urlopen(url)
data = loads(response.read())

In [ ]:
#Retention

In [84]:
from urllib.request import urlopen
from json import loads
url = "https://educationdata.urban.org/api/v1/schools/crdc/retention/2017/grade-3/disability/sex"
response = urlopen(url)
data = loads(response.read())

In [ ]:
#State Assessments—By grade and special populations-2017
#Source EDFACTS

In [85]:
pd.read_csv("schools_edfacts_assessments_2017.csv")

,ncessch_num,ncessch,year,school_name,leaid_num,leaid,lea_name,fips,grade_edfacts,race,...,foster_care,military_connected,read_test_num_valid,read_test_pct_prof_low,read_test_pct_prof_high,read_test_pct_prof_midpt,math_test_num_valid,math_test_pct_prof_low,math_test_pct_prof_high,math_test_pct_prof_midpt
0,10000500870,10000500870,2017,Albertville Middle School,100005,100005,Albertville City,1,99,99,...,99,99,801.0,43.0,43.0,43.0,802.0,47.0,47.0,47.0
1,10000500870,10000500870,2017,Albertville Middle School,100005,100005,Albertville City,1,99,4,...,99,99,5.0,-3.0,-3.0,-3.0,5.0,-3.0,-3.0,-3.0
2,10000500870,10000500870,2017,Albertville Middle School,100005,100005,Albertville City,1,99,2,...,99,99,32.0,30.0,39.0,34.5,32.0,30.0,39.0,34.5
3,10000500870,10000500870,2017,Albertville Middle School,100005,100005,Albertville City,1,99,99,...,99,99,51.0,11.0,19.0,15.0,51.0,11.0,19.0,15.0
4,10000500870,10000500870,2017,Albertville Middle School,100005,100005,Albertville City,1,99,99,...,99,99,309.0,30.0,30.0,30.0,310.0,37.0,37.0,37.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4069377,720003002085,720003002085,2017,JUAN QUIRINDONGO MORELL (SUPERIOR),7200030,7200030,PUERTO RICO DEPARTMENT OF EDUCATION,72,9,99,...,99,99,21.0,0.0,20.0,10.0,20.0,0.0,20.0,10.0
4069378,720003002085,720003002085,2017,JUAN QUIRINDONGO MORELL (SUPERIOR),7200030,7200030,PUERTO RICO DEPARTMENT OF EDUCATION,72,9,99,...,99,99,111.0,40.0,44.0,42.0,110.0,6.0,9.0,7.5
4069379,720003002085,720003002085,2017,JUAN QUIRINDONGO MORELL (SUPERIOR),7200030,7200030,PUERTO RICO DEPARTMENT OF EDUCATION,72,9,99,...,99,99,85.0,55.0,59.0,57.0,84.0,6.0,9.0,7.5
4069380,720003002085,720003002085,2017,JUAN QUIRINDONGO MORELL (SUPERIOR),7200030,7200030,PUERTO RICO DEPARTMENT OF EDUCATION,72,9,3,...,99,99,150.0,45.0,49.0,47.0,149.0,6.0,9.0,7.5
4069381,720003002085,720003002085,2017,JUAN QUIRINDONGO MORELL (SUPERIOR),7200030,7200030,PUERTO RICO DEPARTMENT OF EDUCATION,72,9,99,...,99,99,65.0,35.0,39.0,37.0,65.0,6.0,9.0,7.5

In [11]:
from urllib.request import urlopen
from json import loads
url = "https://educationdata.urban.org/api/v1/schools/crdc/discipline/2013/disability/sex/"
response = urlopen(url)
crdc_dicipline = loads(response.read())

In [12]:
from urllib.request import urlopen
from json import loads
url = "https://educationdata.urban.org/api/v1/schools/crdc/harassment-or-bullying/2015/allegations/"
response = urlopen(url)
crdc_harassment = loads(response.read())

In [13]:
from urllib.request import urlopen
from json import loads
url = "https://educationdata.urban.org/api/v1/schools/crdc/chronic-absenteeism/2013/race/sex/"
response = urlopen(url)
crdc_absenteeism = loads(response.read())

In [14]:
from urllib.request import urlopen
from json import loads
url = "https://educationdata.urban.org/api/v1/schools/crdc/restraint-and-seclusion/2015/instances/"
response = urlopen(url)
crdc_restraint = loads(response.read())

In [15]:
from urllib.request import urlopen
from json import loads
url = "https://educationdata.urban.org/api/v1/schools/crdc/ap-ib-enrollment/2013/race/sex/"
response = urlopen(url)
crdc_ap_enrolment = loads(response.read())

In [16]:
from urllib.request import urlopen
from json import loads
url = "https://educationdata.urban.org/api/v1/schools/crdc/ap-exams/2013/race/sex/"
response = urlopen(url)
crdc_ap_exam = loads(response.read())

In [17]:
from urllib.request import urlopen
from json import loads
url = "https://educationdata.urban.org/api/v1/schools/crdc/sat-act-participation/2013/race/sex/"
response = urlopen(url)
crdc_sat_participation = loads(response.read())

In [18]:
from urllib.request import urlopen
from json import loads
url = "https://educationdata.urban.org/api/v1/schools/crdc/teachers-staff/2015/"
response = urlopen(url)
crdc_teachers = loads(response.read())

In [20]:
from urllib.request import urlopen
from json import loads
url = "https://educationdata.urban.org/api/v1/schools/crdc/math-and-science/2017/race/sex/"
response = urlopen(url)
crdc_mathscience_enrollment = loads(response.read())

In [21]:
from urllib.request import urlopen
from json import loads
url = "https://educationdata.urban.org/api/v1/schools/crdc/algebra1/2017/race/sex/"
response = urlopen(url)
crdc_algebra = loads(response.read())

In [22]:
from urllib.request import urlopen
from json import loads
url = "https://educationdata.urban.org/api/v1/schools/crdc/dual-enrollment/2017/race/sex"
response = urlopen(url)
crdc_dual_enrollment = loads(response.read())

In [23]:
from urllib.request import urlopen
from json import loads
url = "https://educationdata.urban.org/api/v1/schools/crdc/suspensions-days/2017/race/sex"
response = urlopen(url)
crdc_suspensions = loads(response.read())

In [24]:
from urllib.request import urlopen
from json import loads
url = "https://educationdata.urban.org/api/v1/schools/crdc/offerings/2017/"
response = urlopen(url)
crdc_offerings = loads(response.read())

In [25]:
from urllib.request import urlopen
from json import loads
url = "https://educationdata.urban.org/api/v1/schools/crdc/school-finance/2017/"
response = urlopen(url)
crdc_school_finance = loads(response.read())

In [26]:
from urllib.request import urlopen
from json import loads
url = "https://educationdata.urban.org/api/v1/schools/crdc/retention/2017/grade-3/race/sex"
response = urlopen(url)
crdc_retention = loads(response.read())

In [28]:
from urllib.request import urlopen
from json import loads
url = "https://educationdata.urban.org/api/v1/schools/edfacts/assessments/2014/grade-8/"
response = urlopen(url)
edfact_assessment = loads(response.read())

In [29]:
from urllib.request import urlopen
from json import loads
url = "https://educationdata.urban.org/api/v1/schools/edfacts/grad-rates/2014/"
response = urlopen(url)
edfact_grad_rate = loads(response.read())

In [30]:
from urllib.request import urlopen
from json import loads
url = "https://educationdata.urban.org/api/v1/schools/nhgis/census-2010/2016/"
response = urlopen(url)
nhgis_geografy = loads(response.read())