In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import os

This endpoint contains school-level information on location, mailing addresses, school types, highest and lowest grades offered, and free and reduced-price lunch. This endpoint also contains the school-level data on the number of full-time eqivalent teachers.

In [39]:
from urllib.request import urlopen
from json import loads
url = "https://educationdata.urban.org/api/v1/schools/ccd/directory/1988/"
response = urlopen(url)
ccd_directory = loads(response.read())
ccd_directory=pd.DataFrame(ccd_directory["results"])
ccd_directory.columns

Index(['year', 'ncessch', 'school_id', 'school_name', 'leaid', 'lea_name',
       'state_leaid', 'seasch', 'street_mailing', 'city_mailing',
       'state_mailing', 'zip_mailing', 'street_location', 'city_location',
       'state_location', 'zip_location', 'phone', 'fips', 'latitude',
       'longitude', 'csa', 'cbsa', 'urban_centric_locale', 'county_code',
       'school_level', 'school_type', 'school_status', 'lowest_grade_offered',
       'highest_grade_offered', 'bureau_indian_education', 'title_i_status',
       'title_i_eligible', 'title_i_schoolwide', 'charter', 'magnet',
       'shared_time', 'virtual', 'teachers_fte', 'free_lunch',
       'reduced_price_lunch', 'free_or_reduced_price_lunch', 'elem_cedp',
       'high_cedp', 'middle_cedp', 'ungrade_cedp', 'enrollment',
       'state_leg_district_lower', 'state_leg_district_upper', 'ncessch_num',
       'congress_district_id', 'direct_certification', 'lunch_program'],
      dtype='object')

In [41]:
ccd_directory.head()

,year,ncessch,school_id,school_name,leaid,lea_name,state_leaid,seasch,street_mailing,city_mailing,...,high_cedp,middle_cedp,ungrade_cedp,enrollment,state_leg_district_lower,state_leg_district_upper,ncessch_num,congress_district_id,direct_certification,lunch_program
0,1988,010000201704,01704,CHALKVILLE CAMPUS -SEQUOYAH,0100002,ALABAMA YOUTH SERVICES,210,0020,P O BOX 9486,BIRMINGHAM,...,1,1,0,121.0,,,10000201704,None,None,None
1,1988,010000201705,01705,MT MEIGS CAMPUS - WALLACE,0100002,ALABAMA YOUTH SERVICES,210,0030,P O BOX 66,MOUNT MEIGS,...,1,1,0,182.0,,,10000201705,None,None,None
2,1988,010000201706,01706,VACCA CAMPUS - MCNEEL,0100002,ALABAMA YOUTH SERVICES,210,0040,8950 ROEBUCK BLVD,BIRMINGHAM,...,1,1,0,115.0,,,10000201706,None,None,None
3,1988,010000500870,00870,ALABAMA AVE MIDDLE SCH,0100005,ALBERTVILLE CITY,101,0010,600 E ALABAMA AVE,ALBERTVILLE,...,0,1,0,777.0,,,10000500870,None,None,None
4,1988,010000500871,00871,ALBERTVILLE HIGH SCH,0100005,ALBERTVILLE CITY,101,0020,E MCCORD AVE,ALBERTVILLE,...,1,0,0,971.0,,,10000500871,None,None,None

In [59]:
ccd_crdc_directory = pd.merge(ccd_directory,crdc_directory, on=['ncessch'], how='inner')
ccd_crdc_directory

,year_x,ncessch,school_id,school_name,leaid_x,lea_name_x,state_leaid,seasch,street_mailing,city_mailing,...,primarily_serve_students_w_dis,charter_crdc,magnet_crdc,entire_school_magnet,alt_school,alt_school_focus,ability_grouped_math_or_eng,ug_elementary_school,ug_middle_school,ug_high_school
0,1988,010000201705,01705,MT MEIGS CAMPUS - WALLACE,0100002,ALABAMA YOUTH SERVICES,210,0030,P O BOX 66,MOUNT MEIGS,...,0,0,0,-2,1,3,None,-2,-2,-2
1,1988,010000201706,01706,VACCA CAMPUS - MCNEEL,0100002,ALABAMA YOUTH SERVICES,210,0040,8950 ROEBUCK BLVD,BIRMINGHAM,...,0,0,0,-2,1,3,None,-2,-2,-2
2,1988,010000500870,00870,ALABAMA AVE MIDDLE SCH,0100005,ALBERTVILLE CITY,101,0010,600 E ALABAMA AVE,ALBERTVILLE,...,0,0,0,-2,0,-2,None,-2,-2,-2
3,1988,010000500871,00871,ALBERTVILLE HIGH SCH,0100005,ALBERTVILLE CITY,101,0020,E MCCORD AVE,ALBERTVILLE,...,0,0,0,-2,0,-2,None,-2,-2,-2
4,1988,010000500879,00879,EVANS ELEM SCH,0100005,ALBERTVILLE CITY,101,0110,900 W MCKINNEY AVE,ALBERTVILLE,...,0,0,0,-2,0,-2,None,-2,-2,-2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5994,1988,062361003583,03583,MANTECA HIGH,0623610,MANTECA UNIFIED,39685930000000,3935103,450 E. YOSEMITE AVE.,MANTECA,...,0,0,0,-2,0,-2,None,-2,-2,-2
5995,1988,062361003584,03584,NEW HAVEN ELEMENTARY,0623610,MANTECA UNIFIED,39685930000000,6042360,14600 S. AUSTIN ROAD,MANTECA,...,0,0,0,-2,0,-2,None,-2,-2,-2
5996,1988,062361003585,03585,NILE GARDEN ELEMENTARY,0623610,MANTECA UNIFIED,39685930000000,6042378,5700 E. NILE ROAD,MANTECA,...,0,0,0,-2,0,-2,None,-2,-2,-2
5997,1988,062361003587,03587,SEQUOIA ELEMENTARY,0623610,MANTECA UNIFIED,39685930000000,6042386,710 MARTHA ST.,MANTECA,...,0,0,0,-2,0,-2,None,-2,-2,-2
5998,1988,062361003588,03588,SHASTA ELEMENTARY,0623610,MANTECA UNIFIED,39685930000000,6042394,7505 E. EDISON ST.,MANTECA,...,0,0,0,-2,0,-2,None,-2,-2,-2

In [40]:
from urllib.request import urlopen
from json import loads
url = "https://educationdata.urban.org/api/v1/schools/crdc/directory/2013/"
response = urlopen(url)
crdc_directory = loads(response.read())
crdc_directory=pd.DataFrame(crdc_directory["results"])
crdc_directory.columns

Index(['crdc_id', 'year', 'fips', 'leaid', 'ncessch', 'school_name_crdc',
       'schoolid_crdc', 'lea_name', 'leaid_crdc', 'lea_state', 'prek', 'k',
       'g1', 'g2', 'g3', 'g4', 'g5', 'g6', 'g7', 'g8', 'g9', 'g10', 'g11',
       'g12', 'ug', 'primarily_serve_students_w_dis', 'charter_crdc',
       'magnet_crdc', 'entire_school_magnet', 'alt_school', 'alt_school_focus',
       'ability_grouped_math_or_eng', 'ug_elementary_school',
       'ug_middle_school', 'ug_high_school'],
      dtype='object')

In [42]:
crdc_directory

,crdc_id,year,fips,leaid,ncessch,school_name_crdc,schoolid_crdc,lea_name,leaid_crdc,lea_state,...,primarily_serve_students_w_dis,charter_crdc,magnet_crdc,entire_school_magnet,alt_school,alt_school_focus,ability_grouped_math_or_eng,ug_elementary_school,ug_middle_school,ug_high_school
0,010000201705,2013,1,0100002,010000201705,WALLACE SCH - MT MEIGS CAMPUS,01705,ALABAMA YOUTH SERVICES,0100002,AL,...,0,0,0,-2,1,3,None,-2,-2,-2
1,010000201706,2013,1,0100002,010000201706,MCNEEL SCH - VACCA CAMPUS,01706,ALABAMA YOUTH SERVICES,0100002,AL,...,0,0,0,-2,1,3,None,-2,-2,-2
2,010000299995,2013,1,,,AUTAUGA CAMPUS,99995,ALA YOUTH SER,0100002,AL,...,0,0,0,-2,1,3,None,-2,-2,-2
3,010000500870,2013,1,0100005,010000500870,ALA AVENUE MIDDLE SCH,00870,ALBERTVILLE CITY,0100005,AL,...,0,0,0,-2,0,-2,None,-2,-2,-2
4,010000500871,2013,1,0100005,010000500871,ALBERTVILLE HIGH SCH,00871,ALBERTVILLE CITY,0100005,AL,...,0,0,0,-2,0,-2,None,-2,-2,-2

This endpoint contains student membership data for each school by grade. Only operational schools serving one or more grades are required to report membership and only these are included in this endpoint.

In [8]:
from urllib.request import urlopen
from json import loads
url = "https://educationdata.urban.org/api/v1/schools/ccd/enrollment/2014/grade-8/"
response = urlopen(url)
ccd_enrolment = loads(response.read())

In [10]:
from urllib.request import urlopen
from json import loads
url = "https://educationdata.urban.org/api/v1/schools/crdc/enrollment/2013/race/sex/"
response = urlopen(url)
crdc_enrolment = loads(response.read())

In [11]:
from urllib.request import urlopen
from json import loads
url = "https://educationdata.urban.org/api/v1/schools/crdc/discipline/2013/disability/sex/"
response = urlopen(url)
crdc_dicipline = loads(response.read())

In [12]:
from urllib.request import urlopen
from json import loads
url = "https://educationdata.urban.org/api/v1/schools/crdc/harassment-or-bullying/2015/allegations/"
response = urlopen(url)
crdc_harassment = loads(response.read())

In [13]:
from urllib.request import urlopen
from json import loads
url = "https://educationdata.urban.org/api/v1/schools/crdc/chronic-absenteeism/2013/race/sex/"
response = urlopen(url)
crdc_absenteeism = loads(response.read())

In [14]:
from urllib.request import urlopen
from json import loads
url = "https://educationdata.urban.org/api/v1/schools/crdc/restraint-and-seclusion/2015/instances/"
response = urlopen(url)
crdc_restraint = loads(response.read())

In [15]:
from urllib.request import urlopen
from json import loads
url = "https://educationdata.urban.org/api/v1/schools/crdc/ap-ib-enrollment/2013/race/sex/"
response = urlopen(url)
crdc_ap_enrolment = loads(response.read())

In [16]:
from urllib.request import urlopen
from json import loads
url = "https://educationdata.urban.org/api/v1/schools/crdc/ap-exams/2013/race/sex/"
response = urlopen(url)
crdc_ap_exam = loads(response.read())

In [17]:
from urllib.request import urlopen
from json import loads
url = "https://educationdata.urban.org/api/v1/schools/crdc/sat-act-participation/2013/race/sex/"
response = urlopen(url)
crdc_sat_participation = loads(response.read())

In [18]:
from urllib.request import urlopen
from json import loads
url = "https://educationdata.urban.org/api/v1/schools/crdc/teachers-staff/2015/"
response = urlopen(url)
crdc_teachers = loads(response.read())

In [20]:
from urllib.request import urlopen
from json import loads
url = "https://educationdata.urban.org/api/v1/schools/crdc/math-and-science/2017/race/sex/"
response = urlopen(url)
crdc_mathscience_enrollment = loads(response.read())

In [21]:
from urllib.request import urlopen
from json import loads
url = "https://educationdata.urban.org/api/v1/schools/crdc/algebra1/2017/race/sex/"
response = urlopen(url)
crdc_algebra = loads(response.read())

In [22]:
from urllib.request import urlopen
from json import loads
url = "https://educationdata.urban.org/api/v1/schools/crdc/dual-enrollment/2017/race/sex"
response = urlopen(url)
crdc_dual_enrollment = loads(response.read())

In [23]:
from urllib.request import urlopen
from json import loads
url = "https://educationdata.urban.org/api/v1/schools/crdc/suspensions-days/2017/race/sex"
response = urlopen(url)
crdc_suspensions = loads(response.read())

In [24]:
from urllib.request import urlopen
from json import loads
url = "https://educationdata.urban.org/api/v1/schools/crdc/offerings/2017/"
response = urlopen(url)
crdc_offerings = loads(response.read())

In [25]:
from urllib.request import urlopen
from json import loads
url = "https://educationdata.urban.org/api/v1/schools/crdc/school-finance/2017/"
response = urlopen(url)
crdc_school_finance = loads(response.read())

In [26]:
from urllib.request import urlopen
from json import loads
url = "https://educationdata.urban.org/api/v1/schools/crdc/retention/2017/grade-3/race/sex"
response = urlopen(url)
crdc_retention = loads(response.read())

In [28]:
from urllib.request import urlopen
from json import loads
url = "https://educationdata.urban.org/api/v1/schools/edfacts/assessments/2014/grade-8/"
response = urlopen(url)
edfact_assessment = loads(response.read())

In [29]:
from urllib.request import urlopen
from json import loads
url = "https://educationdata.urban.org/api/v1/schools/edfacts/grad-rates/2014/"
response = urlopen(url)
edfact_grad_rate = loads(response.read())

In [30]:
from urllib.request import urlopen
from json import loads
url = "https://educationdata.urban.org/api/v1/schools/nhgis/census-2010/2016/"
response = urlopen(url)
nhgis_geografy = loads(response.read())