In [98]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import os

#This Directory contains school-level information on location, mailing addresses, school types, highest and lowest grades offered, and free and reduced-price lunch. This endpoint also contains the school-level data on the number of full-time eqivalent teachers.

In [99]:
from urllib.request import urlopen
from json import loads
url = "https://educationdata.urban.org/api/v1/schools/ccd/directory/1988/"
response = urlopen(url)
data = loads(response.read())

In [100]:
data.keys()

dict_keys(['count', 'next', 'previous', 'results'])

In [101]:
CCDdirectory=pd.DataFrame(data)

In [110]:
CCDdirectory.head()

,count,next,previous,results
0,84968,https://educationdata.urban.org/api/v1/schools...,None,"{'year': 1988, 'ncessch': '010000201704', 'sch..."
1,84968,https://educationdata.urban.org/api/v1/schools...,None,"{'year': 1988, 'ncessch': '010000201705', 'sch..."
2,84968,https://educationdata.urban.org/api/v1/schools...,None,"{'year': 1988, 'ncessch': '010000201706', 'sch..."
3,84968,https://educationdata.urban.org/api/v1/schools...,None,"{'year': 1988, 'ncessch': '010000500870', 'sch..."
4,84968,https://educationdata.urban.org/api/v1/schools...,None,"{'year': 1988, 'ncessch': '010000500871', 'sch..."

In [1]:
print(CCDdirectory["results"])

NameError: name 'CCDdirectory' is not defined

In [147]:
CCDdirectory["results"][1]

{'year': 1988,
 'ncessch': '010000201705',
 'school_id': '01705',
 'school_name': 'MT MEIGS CAMPUS - WALLACE',
 'leaid': '0100002',
 'lea_name': 'ALABAMA YOUTH SERVICES',
 'state_leaid': '210',
 'seasch': '0030',
 'street_mailing': 'P O BOX 66',
 'city_mailing': 'MOUNT MEIGS',
 'state_mailing': '',
 'zip_mailing': '36057',
 'street_location': '',
 'city_location': '',
 'state_location': '',
 'zip_location': '',
 'phone': '2052729100',
 'fips': 1,
 'latitude': None,
 'longitude': None,
 'csa': None,
 'cbsa': None,
 'urban_centric_locale': 7,
 'county_code': None,
 'school_level': None,
 'school_type': 4,
 'school_status': 1,
 'lowest_grade_offered': 7,
 'highest_grade_offered': 12,
 'bureau_indian_education': None,
 'title_i_status': None,
 'title_i_eligible': None,
 'title_i_schoolwide': None,
 'charter': None,
 'magnet': None,
 'shared_time': None,
 'virtual': None,
 'teachers_fte': 32,
 'free_lunch': None,
 'reduced_price_lunch': None,
 'free_or_reduced_price_lunch': None,
 'elem_cedp': 0,
 'high_cedp': 1,
 'middle_cedp': 1,
 'ungrade_cedp': 0,
 'enrollment': 182,
 'state_leg_district_lower': '',
 'state_leg_district_upper': '',
 'ncessch_num': 10000201705,
 'congress_district_id': None,
 'direct_certification': None,
 'lunch_program': None}

In [142]:
results=pd.DataFrame(CCDdirectory["results"])

In [144]:
results.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 1 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   results  10000 non-null  object
dtypes: object(1)
memory usage: 78.2+ KB

From directory, the following variables are important free_or_reduced_price_lunch, name of schools, and states, school type, year, grade level

In [104]:
from urllib.request import urlopen
from json import loads
url = "https://educationdata.urban.org/api/v1/schools/ccd/enrollment/2012/grade-5/sex"
response = urlopen(url)
EnrollmentBygradeandsex = loads(response.read())

In [105]:
EnrollmentBygradeandsex=pd.DataFrame(EnrollmentBygradeandsex)

In [106]:
EnrollmentBygradeandsex.head()

,count,next,previous,results
0,159039,https://educationdata.urban.org/api/v1/schools...,None,"{'year': 2012, 'ncessch': '010000201402', 'nce..."
1,159039,https://educationdata.urban.org/api/v1/schools...,None,"{'year': 2012, 'ncessch': '010000500879', 'nce..."
2,159039,https://educationdata.urban.org/api/v1/schools...,None,"{'year': 2012, 'ncessch': '010000600193', 'nce..."
3,159039,https://educationdata.urban.org/api/v1/schools...,None,"{'year': 2012, 'ncessch': '010000600872', 'nce..."
4,159039,https://educationdata.urban.org/api/v1/schools...,None,"{'year': 2012, 'ncessch': '010000600876', 'nce..."

In [107]:
EnrollmentBygradeandsex["results"][1]

{'year': 2012,
 'ncessch': '010000500879',
 'ncessch_num': 10000500879,
 'grade': 5,
 'race': 99,
 'sex': 1,
 'enrollment': 148,
 'fips': 1,
 'leaid': '100005'}

#There are overlap data in EnrollmentBygrade, EnrollmentBygradeandrace and EnrollmentBygradeandsex datasets.

In [108]:
from urllib.request import urlopen
from json import loads
url = "https://educationdata.urban.org/api/v1/schools/ccd/enrollment/2007/grade-6/race/sex/"
response = urlopen(url)
EnrollmentBygradesexrace = loads(response.read())

In [109]:
EnrollmentBygradesexrace=pd.DataFrame(EnrollmentBygradesexrace)

In [97]:
EnrollmentBygradesexrace.head()

,count,next,previous,results
0,705582,https://educationdata.urban.org/api/v1/schools...,None,"{'year': 2007, 'ncessch': '100000600017', 'nce..."
1,705582,https://educationdata.urban.org/api/v1/schools...,None,"{'year': 2007, 'ncessch': '100000600017', 'nce..."
2,705582,https://educationdata.urban.org/api/v1/schools...,None,"{'year': 2007, 'ncessch': '100000600017', 'nce..."
3,705582,https://educationdata.urban.org/api/v1/schools...,None,"{'year': 2007, 'ncessch': '100000600017', 'nce..."
4,705582,https://educationdata.urban.org/api/v1/schools...,None,"{'year': 2007, 'ncessch': '100000600017', 'nce..."

#There are overlap data in EnrollmentBygrade, EnrollmentBygradeandrace and EnrollmentBygradeandsex and EnrollmentBygradesexrace datasets

In [112]:
#CRDCdirectory
from urllib.request import urlopen
from json import loads
url = "https://educationdata.urban.org/api/v1/schools/crdc/directory/2013/"
response = urlopen(url)
CRDCdirectory = loads(response.read())

In [113]:
CRDCdirectory=pd.DataFrame(CRDCdirectory)

In [114]:
CRDCdirectory.head()

,count,next,previous,results
0,95507,https://educationdata.urban.org/api/v1/schools...,None,"{'crdc_id': '010000201705', 'year': 2013, 'fip..."
1,95507,https://educationdata.urban.org/api/v1/schools...,None,"{'crdc_id': '010000201706', 'year': 2013, 'fip..."
2,95507,https://educationdata.urban.org/api/v1/schools...,None,"{'crdc_id': '010000299995', 'year': 2013, 'fip..."
3,95507,https://educationdata.urban.org/api/v1/schools...,None,"{'crdc_id': '010000500870', 'year': 2013, 'fip..."
4,95507,https://educationdata.urban.org/api/v1/schools...,None,"{'crdc_id': '010000500871', 'year': 2013, 'fip..."

In [118]:
CRDCdirectory['results']

0       {'crdc_id': '010000201705', 'year': 2013, 'fip...
1       {'crdc_id': '010000201706', 'year': 2013, 'fip...
2       {'crdc_id': '010000299995', 'year': 2013, 'fip...
3       {'crdc_id': '010000500870', 'year': 2013, 'fip...
4       {'crdc_id': '010000500871', 'year': 2013, 'fip...
                              ...
9995    {'crdc_id': '062361004002', 'year': 2013, 'fip...
9996    {'crdc_id': '062361004004', 'year': 2013, 'fip...
9997    {'crdc_id': '062361006561', 'year': 2013, 'fip...
9998    {'crdc_id': '062361007364', 'year': 2013, 'fip...
9999    {'crdc_id': '062361007749', 'year': 2013, 'fip...
Name: results, Length: 10000, dtype: object

In [ ]:
#CRDC-Enrollment—By race and sex

In [120]:
from urllib.request import urlopen
from json import loads
url = "https://educationdata.urban.org/api/v1/schools/crdc/enrollment/2013/race/sex/"
response = urlopen(url)
EnrollmentByraceandsex = loads(response.read())

In [121]:
EnrollmentByraceandsex=pd.DataFrame(EnrollmentByraceandsex)

In [122]:
EnrollmentByraceandsex.head()

,count,next,previous,results
0,2292168,https://educationdata.urban.org/api/v1/schools...,None,"{'crdc_id': '010000201705', 'ncessch': '010000..."
1,2292168,https://educationdata.urban.org/api/v1/schools...,None,"{'crdc_id': '010000201705', 'ncessch': '010000..."
2,2292168,https://educationdata.urban.org/api/v1/schools...,None,"{'crdc_id': '010000201705', 'ncessch': '010000..."
3,2292168,https://educationdata.urban.org/api/v1/schools...,None,"{'crdc_id': '010000201705', 'ncessch': '010000..."
4,2292168,https://educationdata.urban.org/api/v1/schools...,None,"{'crdc_id': '010000201705', 'ncessch': '010000..."

In [123]:
#CRDC-Enrollment—By disability and sex

In [125]:
from urllib.request import urlopen
from json import loads
url = "https://educationdata.urban.org/api/v1/schools/crdc/enrollment/2015/disability/sex/"
response = urlopen(url)
EnrollmentBydisabilityandsex = loads(response.read())

In [126]:
EnrollmentBydisabilityandsex=pd.DataFrame(EnrollmentBydisabilityandsex)

In [127]:
EnrollmentBydisabilityandsex.head()

,count,next,previous,results
0,867240,https://educationdata.urban.org/api/v1/schools...,None,"{'crdc_id': '010000201705', 'ncessch': '010000..."
1,867240,https://educationdata.urban.org/api/v1/schools...,None,"{'crdc_id': '010000201705', 'ncessch': '010000..."
2,867240,https://educationdata.urban.org/api/v1/schools...,None,"{'crdc_id': '010000201705', 'ncessch': '010000..."
3,867240,https://educationdata.urban.org/api/v1/schools...,None,"{'crdc_id': '010000201705', 'ncessch': '010000..."
4,867240,https://educationdata.urban.org/api/v1/schools...,None,"{'crdc_id': '010000201705', 'ncessch': '010000..."

#CRDC-Enrollment—ByLEPandsex
This endpoint contains student enrollment for each school by students' Limited English Proficiency status and sex.

In [132]:
from urllib.request import urlopen
from json import loads
url = "https://educationdata.urban.org/api/v1/schools/crdc/enrollment/2011/lep/sex/"
response = urlopen(url)
EnrollmentByLEPandsex = loads(response.read())

In [133]:
EnrollmentByLEPandsex=pd.DataFrame(EnrollmentByLEPandsex)

In [134]:
EnrollmentByLEPandsex.head()

,count,next,previous,results
0,573810,https://educationdata.urban.org/api/v1/schools...,None,"{'crdc_id': '010000201705', 'ncessch': '010000..."
1,573810,https://educationdata.urban.org/api/v1/schools...,None,"{'crdc_id': '010000201705', 'ncessch': '010000..."
2,573810,https://educationdata.urban.org/api/v1/schools...,None,"{'crdc_id': '010000201705', 'ncessch': '010000..."
3,573810,https://educationdata.urban.org/api/v1/schools...,None,"{'crdc_id': '010000201705', 'ncessch': '010000..."
4,573810,https://educationdata.urban.org/api/v1/schools...,None,"{'crdc_id': '010000201705', 'ncessch': '010000..."

#Discipline incidents: This endpoint contains the number of discipline instances in schools.

In [136]:
from urllib.request import urlopen
from json import loads
url = "https://educationdata.urban.org/api/v1/schools/crdc/discipline-instances/2017/"
response = urlopen(url)
Disciplineincidents = loads(response.read())

Discipline—By disability and sex: This endpoint contains student discipline information for each school, including suspensions, expulsions, arrests, referrals, and corporal punishment by students' race and sex.

In [139]:
from urllib.request import urlopen
from json import loads
url = "https://educationdata.urban.org/api/v1/schools/crdc/discipline/2013/disability/sex/"
response = urlopen(url)
DisciplineBydisabilityandsex = loads(response.read())

Discipline—By disability, race, and sex:This endpoint contains student discipline information for each school, including suspensions, expulsions, arrests, referrals, and corporal punishment by students' disability status and sex.

In [141]:
from urllib.request import urlopen
from json import loads
url = "https://educationdata.urban.org/api/v1/schools/crdc/discipline/2015/disability/race/sex/"
response = urlopen(url)
DisciplineBydisabilityraceandsex = loads(response.read())

Discipline—By disability, LEP, and sex: This endpoint contains student discipline information for each school, including suspensions, expulsions, arrests, referrals, and corporal punishment by students' limited English proficiency status and sex.