In [510]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import os

In [511]:
#State Assessments—By grade and special populations-2017
#Source EDFACTS

In [512]:
assessments_2017 = pd.read_csv("schools_edfacts_assessments_2017.csv")
assessments_2017.head()

,ncessch_num,ncessch,year,school_name,leaid_num,leaid,lea_name,fips,grade_edfacts,race,...,foster_care,military_connected,read_test_num_valid,read_test_pct_prof_low,read_test_pct_prof_high,read_test_pct_prof_midpt,math_test_num_valid,math_test_pct_prof_low,math_test_pct_prof_high,math_test_pct_prof_midpt
0,10000500870,10000500870,2017,Albertville Middle School,100005,100005,Albertville City,1,99,99,...,99,99,801.0,43.0,43.0,43.0,802.0,47.0,47.0,47.0
1,10000500870,10000500870,2017,Albertville Middle School,100005,100005,Albertville City,1,99,4,...,99,99,5.0,-3.0,-3.0,-3.0,5.0,-3.0,-3.0,-3.0
2,10000500870,10000500870,2017,Albertville Middle School,100005,100005,Albertville City,1,99,2,...,99,99,32.0,30.0,39.0,34.5,32.0,30.0,39.0,34.5
3,10000500870,10000500870,2017,Albertville Middle School,100005,100005,Albertville City,1,99,99,...,99,99,51.0,11.0,19.0,15.0,51.0,11.0,19.0,15.0
4,10000500870,10000500870,2017,Albertville Middle School,100005,100005,Albertville City,1,99,99,...,99,99,309.0,30.0,30.0,30.0,310.0,37.0,37.0,37.0

In [513]:
#Dropping unnecary columns-df.drop(['C', 'D'], axis=1)
assessments_2017 = assessments_2017.drop(['ncessch','year','leaid','fips'], axis=1)

In [514]:
assessments_2017.head()

,ncessch_num,school_name,leaid_num,lea_name,grade_edfacts,race,sex,lep,homeless,migrant,...,foster_care,military_connected,read_test_num_valid,read_test_pct_prof_low,read_test_pct_prof_high,read_test_pct_prof_midpt,math_test_num_valid,math_test_pct_prof_low,math_test_pct_prof_high,math_test_pct_prof_midpt
0,10000500870,Albertville Middle School,100005,Albertville City,99,99,99,99,99,99,...,99,99,801.0,43.0,43.0,43.0,802.0,47.0,47.0,47.0
1,10000500870,Albertville Middle School,100005,Albertville City,99,4,99,99,99,99,...,99,99,5.0,-3.0,-3.0,-3.0,5.0,-3.0,-3.0,-3.0
2,10000500870,Albertville Middle School,100005,Albertville City,99,2,99,99,99,99,...,99,99,32.0,30.0,39.0,34.5,32.0,30.0,39.0,34.5
3,10000500870,Albertville Middle School,100005,Albertville City,99,99,99,99,99,99,...,99,99,51.0,11.0,19.0,15.0,51.0,11.0,19.0,15.0
4,10000500870,Albertville Middle School,100005,Albertville City,99,99,99,99,99,99,...,99,99,309.0,30.0,30.0,30.0,310.0,37.0,37.0,37.0

In [521]:
#No missing values
assessments_2017["ncessch_num"].isnull().sum()

0

In [481]:
#The assessment data is reported at the grade level so the ncessch is not a unique number.To fix it:
#groupby the dataframe by id and grade and mean of a test score
#df.groupby('StationID', as_index=False)['BiasTemp'].mean()
#assessments_2017.groupby('ncessch', as_index=False)['read_test_num_valid','read_test_pct_prof_midpt', 'read_test_pct_prof_high', 'read_test_pct_prof_low','math_test_num_valid',"math_test_pct_prof_midpt",'math_test_pct_prof_high','math_test_pct_prof_low'].mean()

In [529]:
assessments_mean = assessments_2017.groupby('ncessch_num', as_index=False)['read_test_num_valid','read_test_pct_prof_midpt', 'read_test_pct_prof_high', 'read_test_pct_prof_low','math_test_num_valid',"math_test_pct_prof_midpt",'math_test_pct_prof_high','math_test_pct_prof_low'].mean()

/var/folders/q1/5l3sndps6dj6yrp14kddr27w0000gn/T/ipykernel_5373/1764937858.py:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  assessments_mean = assessments_2017.groupby('ncessch_num', as_index=False)['read_test_num_valid','read_test_pct_prof_midpt', 'read_test_pct_prof_high', 'read_test_pct_prof_low','math_test_num_valid',"math_test_pct_prof_midpt",'math_test_pct_prof_high','math_test_pct_prof_low'].mean()

In [530]:
assessments_mean

,ncessch_num,read_test_num_valid,read_test_pct_prof_midpt,read_test_pct_prof_high,read_test_pct_prof_low,math_test_num_valid,math_test_pct_prof_midpt,math_test_pct_prof_high,math_test_pct_prof_low
0,10000500870,140.390244,31.036585,36.804878,25.268293,140.634146,32.792683,38.536585,27.048780
1,10000500871,86.000000,20.321429,25.642857,15.000000,86.000000,22.107143,27.428571,16.785714
2,10000500879,143.813953,21.081395,27.162791,15.000000,144.651163,24.232558,30.883721,17.581395
3,10000500889,154.681818,28.136364,33.409091,22.863636,155.409091,38.715909,44.545455,32.886364
4,10000600193,54.166667,23.975000,28.333333,19.616667,54.366667,27.175000,31.533333,22.816667
...,...,...,...,...,...,...,...,...,...
89031,720003002079,72.157895,23.381579,25.131579,21.631579,72.157895,28.697368,30.447368,26.947368
89032,720003002082,81.657143,31.200000,34.314286,28.085714,81.657143,3.257143,6.571429,-0.057143
89033,720003002083,62.000000,21.145833,26.041667,16.250000,61.583333,5.416667,10.833333,0.000000
89034,720003002084,43.571429,11.119048,20.238095,2.000000,43.380952,9.345238,18.619048,0.071429
89035,720003002085,97.000000,40.000000,43.333333,36.666667,96.166667,7.916667,10.833333,5.000000

In [544]:
len(assessments_mean)

89036

This endpoint contains school-level geographic information, grades offered, and information on school type (including charter, magnet, and alternative schools). Source: The Civil Rights Data Collection (CRDC)

In [536]:
from urllib.request import urlopen
from json import loads
url = "https://educationdata.urban.org/api/v1/schools/crdc/directory/2017/"
response = urlopen(url)
crdc_directory = loads(response.read())
crdc_directory=pd.DataFrame(crdc_directory["results"])
crdc_directory.columns

Index(['crdc_id', 'year', 'fips', 'leaid', 'ncessch', 'school_name_crdc',
       'schoolid_crdc', 'lea_name', 'leaid_crdc', 'lea_state', 'prek', 'k',
       'g1', 'g2', 'g3', 'g4', 'g5', 'g6', 'g7', 'g8', 'g9', 'g10', 'g11',
       'g12', 'ug', 'primarily_serve_students_w_dis', 'charter_crdc',
       'magnet_crdc', 'entire_school_magnet', 'alt_school', 'alt_school_focus',
       'ability_grouped_math_or_eng', 'ug_elementary_school',
       'ug_middle_school', 'ug_high_school'],
      dtype='object')

In [537]:
#Dropping unneccary columns-df.drop(['C', 'D'], axis=1)
crdc_directory = crdc_directory.drop(['crdc_id','year','fips','schoolid_crdc','leaid_crdc', 'prek', 'k',
       'g1', 'g2', 'g3', 'g4', 'g5', 'g6', 'g7', 'g8', 'g9', 'g10', 'g11',
       'g12', 'ug','entire_school_magnet'], axis=1)

In [538]:
crdc_directory.head()

,leaid,ncessch,school_name_crdc,lea_name,lea_state,primarily_serve_students_w_dis,charter_crdc,magnet_crdc,alt_school,alt_school_focus,ability_grouped_math_or_eng,ug_elementary_school,ug_middle_school,ug_high_school
0,0100002,010000201705,Wallace Sch - Mt Meigs Campus,Alabama Youth Services,AL,0,0,0,0,-2,None,-2,-2,-2
1,0100002,010000201706,McNeel Sch - Vacca Campus,Alabama Youth Services,AL,0,0,0,0,-2,None,-2,-2,-2
2,0100002,010000201876,Alabama Youth Services,Alabama Youth Services,AL,0,0,0,0,-2,None,-2,-2,-2
3,,,AUTAUGA CAMPUS,Alabama Youth Services,AL,0,0,0,0,-2,None,-2,-2,-2
4,0100005,010000500870,Albertville Middle School,Albertville City,AL,0,0,0,0,-2,None,-2,-2,-2

In [539]:
#Renema the ncessch column to match with the assessment df
crdc_directory.rename(columns = {'ncessch':'ncessch_num'}, inplace = True)

In [540]:
crdc_directory.columns

Index(['leaid', 'ncessch_num', 'school_name_crdc', 'lea_name', 'lea_state',
       'primarily_serve_students_w_dis', 'charter_crdc', 'magnet_crdc',
       'alt_school', 'alt_school_focus', 'ability_grouped_math_or_eng',
       'ug_elementary_school', 'ug_middle_school', 'ug_high_school'],
      dtype='object')

In [541]:
#The grade on the other Df is bianay, so there is no point of matching them with the assessment. we drop the grade columns

In [542]:
len(crdc_directory)

10000

In [546]:
#droping missing values
crdc_directory[crdc_directory["ncessch_num"]==''].index

Int64Index([   3,   80,   81,   85,  126,  377,  523,  649,  829, 1597, 2155,
            2356, 2753, 2846, 3191, 3192, 3193, 3194, 3195, 3236, 3460, 3461,
            3462, 3463, 3464, 3465, 3466, 3467, 3542, 3654, 3900, 3901, 3902,
            3903, 3904, 3905, 3906, 3907, 3908, 3909, 3910, 3911, 3912, 3913,
            3914, 3915, 3916, 3917, 3943, 3971, 3972, 3973, 3974, 3975, 3976,
            3977, 4312, 4394, 4647, 4731, 5338, 5470, 5471, 5557, 5845, 6178,
            6179, 6180, 6425, 7282, 7423, 7638, 8047, 8866, 8867, 8868, 8869,
            8870, 8871],
           dtype='int64')

In [547]:
crdc_directory = crdc_directory.drop(index=[3,   80,   81,   85,  126,  377,  523,  649,  829, 1597, 2155,
            2356, 2753, 2846, 3191, 3192, 3193, 3194, 3195, 3236, 3460, 3461,
            3462, 3463, 3464, 3465, 3466, 3467, 3542, 3654, 3900, 3901, 3902,
            3903, 3904, 3905, 3906, 3907, 3908, 3909, 3910, 3911, 3912, 3913,
            3914, 3915, 3916, 3917, 3943, 3971, 3972, 3973, 3974, 3975, 3976,
            3977, 4312, 4394, 4647, 4731, 5338, 5470, 5471, 5557, 5845, 6178,
            6179, 6180, 6425, 7282, 7423, 7638, 8047, 8866, 8867, 8868, 8869,
            8870, 8871])

In [548]:
len(crdc_directory)

9921

In [549]:
#changing the ncessch_num type to int for merging with the first df
crdc_directory["ncessch_num"]=crdc_directory["ncessch_num"].astype(np.int64)

In [550]:
crdc_directory["ncessch_num"]

0       10000201705
1       10000201706
2       10000201876
4       10000500870
5       10000500871
           ...
9995    62316010903
9996    62316011670
9997    62316012156
9998    62316013431
9999    62334003282
Name: ncessch_num, Length: 9921, dtype: int64

In [627]:
#merging directory and assessment
result = pd.merge(assessments_mean,crdc_directory, left_on = "ncessch_num" , right_on= "ncessch_num", how="inner")

In [612]:
len (result)

9523

In [613]:
result.columns

Index(['ncessch_num', 'read_test_num_valid', 'read_test_pct_prof_midpt',
       'read_test_pct_prof_high', 'read_test_pct_prof_low',
       'math_test_num_valid', 'math_test_pct_prof_midpt',
       'math_test_pct_prof_high', 'math_test_pct_prof_low', 'leaid',
       'school_name_crdc', 'lea_name', 'lea_state',
       'primarily_serve_students_w_dis', 'charter_crdc', 'magnet_crdc',
       'alt_school', 'alt_school_focus', 'ability_grouped_math_or_eng',
       'ug_elementary_school', 'ug_middle_school', 'ug_high_school'],
      dtype='object')

In [556]:
from urllib.request import urlopen
from json import loads
url = "https://educationdata.urban.org/api/v1/schools/crdc/enrollment/2017/disability/sex/"
response = urlopen(url)
enrollment = loads(response.read())
enrollment=pd.DataFrame(enrollment["results"])

In [558]:
enrollment.columns

Index(['crdc_id', 'ncessch', 'year', 'fips', 'leaid', 'race', 'sex',
       'disability', 'lep', 'enrollment_crdc', 'psenrollment_crdc'],
      dtype='object')

In [ ]:
##Steps to merge each dataframe with the result table:
#1. Dropping unneccary columns- df.drop(['C', 'D'], axis=1)
#2. missing values- assessments_2017["ncessch_num"].isnull().sum()
#3. finding empty cells- missing values- crdc_directory[crdc_directory["ncessch_num"]==''].index 
#4. droping empty cells- crdc_directory = crdc_directory.drop(index=[..]) 
#5. Rename the ncessch column to match with the assessment- crdc_directory.rename(columns = {'ncessch':'ncessch_num'}, inplace = True)
#6. changing the ncessch_num type to int for merging with the first df- crdc_directory["ncessch_num"]=crdc_directory["ncessch_num"].astype(np.int64)
#7. merging new df with result- result = pd.merge(assessments_mean,crdc_directory, left_on = "ncessch_num" , right_on= "ncessch_num", how="inner")

In [560]:
enrollment= enrollment.drop(['crdc_id', 'year', 'fips', 'leaid','enrollment_crdc', 'psenrollment_crdc'], axis=1)

In [562]:
enrollment[enrollment["ncessch"]==''].index

Int64Index([  27,   28,   29,   30,   31,   32,   33,   34,   35,  720,  721,
             722,  723,  724,  725,  726,  727,  728,  729,  730,  731,  732,
             733,  734,  735,  736,  737,  765,  766,  767,  768,  769,  770,
             771,  772,  773, 1134, 1135, 1136, 1137, 1138, 1139, 1140, 1141,
            1142, 3393, 3394, 3395, 3396, 3397, 3398, 3399, 3400, 3401, 4707,
            4708, 4709, 4710, 4711, 4712, 4713, 4714, 4715, 5841, 5842, 5843,
            5844, 5845, 5846, 5847, 5848, 5849, 7461, 7462, 7463, 7464, 7465,
            7466, 7467, 7468, 7469],
           dtype='int64')

In [563]:
enrollment = enrollment.drop(index=[ 27,   28,   29,   30,   31,   32,   33,   34,   35,  720,  721,
             722,  723,  724,  725,  726,  727,  728,  729,  730,  731,  732,
             733,  734,  735,  736,  737,  765,  766,  767,  768,  769,  770,
             771,  772,  773, 1134, 1135, 1136, 1137, 1138, 1139, 1140, 1141,
            1142, 3393, 3394, 3395, 3396, 3397, 3398, 3399, 3400, 3401, 4707,
            4708, 4709, 4710, 4711, 4712, 4713, 4714, 4715, 5841, 5842, 5843,
            5844, 5845, 5846, 5847, 5848, 5849, 7461, 7462, 7463, 7464, 7465,
            7466, 7467, 7468, 7469])

In [564]:
enrollment.rename(columns = {'ncessch':'ncessch_num'}, inplace = True)

In [565]:
enrollment["ncessch_num"]=enrollment["ncessch_num"].astype(np.int64)

In [628]:
result = pd.merge(result,enrollment, left_on = "ncessch_num" , right_on= "ncessch_num", how="inner")
result.columns

Index(['ncessch_num', 'read_test_num_valid', 'read_test_pct_prof_midpt',
       'read_test_pct_prof_high', 'read_test_pct_prof_low',
       'math_test_num_valid', 'math_test_pct_prof_midpt',
       'math_test_pct_prof_high', 'math_test_pct_prof_low', 'leaid',
       'school_name_crdc', 'lea_name', 'lea_state',
       'primarily_serve_students_w_dis', 'charter_crdc', 'magnet_crdc',
       'alt_school', 'alt_school_focus', 'ability_grouped_math_or_eng',
       'ug_elementary_school', 'ug_middle_school', 'ug_high_school', 'race',
       'sex', 'disability', 'lep'],
      dtype='object')

In [581]:
#Discipline by disabilties,LEP and sex from crdc - 2017

#from urllib.request import urlopen
from json import loads
url = "https://educationdata.urban.org/api/v1/schools/crdc/discipline/2017/disability/lep/sex/"
response = urlopen(url)
Disciplinebydisabilties = loads(response.read())
Disciplinebydisabilties =pd.DataFrame(Disciplinebydisabilties["results"])

In [585]:
#Teachers and Staff-2017

In [594]:
from urllib.request import urlopen
from json import loads
url = "https://educationdata.urban.org/api/v1/schools/crdc/teachers-staff/2017/"
response = urlopen(url)
TeachersandStaff = loads(response.read())
teachersandstaff=pd.DataFrame(TeachersandStaff["results"])
teachersandstaff.columns

Index(['crdc_id', 'year', 'ncessch', 'leaid', 'fips', 'teachers_fte_crdc',
       'teachers_certified_fte', 'teachers_uncertified_fte',
       'teachers_first_year_fte', 'teachers_second_year_fte',
       'teachers_current_sy', 'teachers_previous_sy', 'teachers_absent_fte',
       'counselors_fte', 'psychologists_fte', 'social_workers_fte',
       'nurses_fte', 'security_guard_fte', 'law_enforcement_fte',
       'law_enforcement_ind'],
      dtype='object')

In [595]:
teachersandstaff=teachersandstaff.drop(['crdc_id', 'year', 'leaid', 'fips','counselors_fte', 'psychologists_fte', 'social_workers_fte',
       'nurses_fte', 'security_guard_fte', 'law_enforcement_fte',
       'law_enforcement_ind', 'teachers_previous_sy'], axis=1)

In [597]:
teachersandstaff["ncessch"].isnull().sum()

0

In [598]:
teachersandstaff[teachersandstaff["ncessch"]==''].index

Int64Index([   3,   80,   81,   85,  126,  377,  523,  649,  829, 1597, 2155,
            2356, 2753, 2846, 3191, 3192, 3193, 3194, 3195, 3236, 3460, 3461,
            3462, 3463, 3464, 3465, 3466, 3467, 3542, 3654, 3900, 3901, 3902,
            3903, 3904, 3905, 3906, 3907, 3908, 3909, 3910, 3911, 3912, 3913,
            3914, 3915, 3916, 3917, 3943, 3971, 3972, 3973, 3974, 3975, 3976,
            3977, 4312, 4394, 4647, 4731, 5338, 5470, 5471, 5557, 5845, 6178,
            6179, 6180, 6425, 7282, 7423, 7638, 8047, 8866, 8867, 8868, 8869,
            8870, 8871],
           dtype='int64')

In [600]:
teachersandstaff = teachersandstaff.drop(index=[   3,   80,   81,   85,  126,  377,  523,  649,  829, 1597, 2155,
            2356, 2753, 2846, 3191, 3192, 3193, 3194, 3195, 3236, 3460, 3461,
            3462, 3463, 3464, 3465, 3466, 3467, 3542, 3654, 3900, 3901, 3902,
            3903, 3904, 3905, 3906, 3907, 3908, 3909, 3910, 3911, 3912, 3913,
            3914, 3915, 3916, 3917, 3943, 3971, 3972, 3973, 3974, 3975, 3976,
            3977, 4312, 4394, 4647, 4731, 5338, 5470, 5471, 5557, 5845, 6178,
            6179, 6180, 6425, 7282, 7423, 7638, 8047, 8866, 8867, 8868, 8869,
            8870, 8871])

In [601]:
teachersandstaff.rename(columns = {'ncessch':'ncessch_num'}, inplace =True)

In [602]:
teachersandstaff["ncessch_num"]=teachersandstaff["ncessch_num"].astype(np.int64)

In [630]:
result = pd.merge(result,teachersandstaff, left_on = "ncessch_num" , right_on= "ncessch_num", how="inner")

In [338]:
#Math and Science Course Enrollment—By disability and sex-2017

In [490]:
from urllib.request import urlopen
from json import loads
url = "https://educationdata.urban.org/api/v1/schools/crdc/math-and-science/2017/disability/sex/"
response = urlopen(url)
math_science_enrollment = loads(response.read())
math_science_enrollment = pd.DataFrame(math_science_enrollment["results"])
math_science_enrollment.columns

Index(['crdc_id', 'year', 'fips', 'ncessch', 'leaid', 'sex', 'race',
       'disability', 'lep', 'enrl_biology', 'enrl_chemistry',
       'enrl_advanced_math', 'enrl_calculus', 'enrl_algebra2', 'enrl_physics',
       'enrl_geometry'],
      dtype='object')

In [616]:
math_science_enrollment= math_science_enrollment.drop(['crdc_id', 'year', 'fips', 'leaid', 'sex', 'race',
       'disability', 'lep',], axis=1)

In [618]:
math_science_enrollment[math_science_enrollment["ncessch"]==''].index

Int64Index([  18,   19,   20,   21,   22,   23,  480,  481,  482,  483,  484,
             485,  486,  487,  488,  489,  490,  491,  510,  511,  512,  513,
             514,  515,  756,  757,  758,  759,  760,  761, 2262, 2263, 2264,
            2265, 2266, 2267, 3138, 3139, 3140, 3141, 3142, 3143, 3894, 3895,
            3896, 3897, 3898, 3899, 4974, 4975, 4976, 4977, 4978, 4979, 9582,
            9583, 9584, 9585, 9586, 9587],
           dtype='int64')

In [619]:
math_science_enrollment = math_science_enrollment.drop(index=[  18,   19,   20,   21,   22,   23,  480,  481,  482,  483,  484,
             485,  486,  487,  488,  489,  490,  491,  510,  511,  512,  513,
             514,  515,  756,  757,  758,  759,  760,  761, 2262, 2263, 2264,
            2265, 2266, 2267, 3138, 3139, 3140, 3141, 3142, 3143, 3894, 3895,
            3896, 3897, 3898, 3899, 4974, 4975, 4976, 4977, 4978, 4979, 9582,
            9583, 9584, 9585, 9586, 9587])

In [620]:
math_science_enrollment.rename(columns = {'ncessch':'ncessch_num'}, inplace = True)

In [625]:
math_science_enrollment["ncessch_num"]=math_science_enrollment["ncessch_num"].astype(np.int64)

In [632]:
result = pd.merge(result,math_science_enrollment, left_on = "ncessch_num" , right_on= "ncessch_num", how="inner")

In [340]:
#Algebra I—By disability and sex

In [634]:
from urllib.request import urlopen
from json import loads
url = "https://educationdata.urban.org/api/v1/schools/crdc/algebra1/2017/disability/sex/"
response = urlopen(url)
algebra = loads(response.read())
algebra=pd.DataFrame(algebra["results"])

In [636]:
algebra.columns

Index(['crdc_id', 'year', 'ncessch', 'leaid', 'fips', 'grade_crdc', 'sex',
       'race', 'disability', 'lep', 'enrl_algebra1',
       'students_passing_algebra1'],
      dtype='object')

In [639]:
algebra=algebra.drop(['crdc_id', 'year', 'leaid', 'fips', 'grade_crdc', 'sex',
       'race', 'disability', 'lep'], axis=1)

In [659]:
missing_algebra =list(algebra[algebra["ncessch"]==''].index)
missing_algebra

[72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 1920,
 1921,
 1922,
 1923,
 1924,
 1925,
 1926,
 1927,
 1928,
 1929,
 1930,
 1931,
 1932,
 1933,
 1934,
 1935,
 1936,
 1937,
 1938,
 1939,
 1940,
 1941,
 1942,
 1943,
 1944,
 1945,
 1946,
 1947,
 1948,
 1949,
 1950,
 1951,
 1952,
 1953,
 1954,
 1955,
 1956,
 1957,
 1958,
 1959,
 1960,
 1961,
 1962,
 1963,
 1964,
 1965,
 1966,
 1967,
 2040,
 2041,
 2042,
 2043,
 2044,
 2045,
 2046,
 2047,
 2048,
 2049,
 2050,
 2051,
 2052,
 2053,
 2054,
 2055,
 2056,
 2057,
 2058,
 2059,
 2060,
 2061,
 2062,
 2063,
 3024,
 3025,
 3026,
 3027,
 3028,
 3029,
 3030,
 3031,
 3032,
 3033,
 3034,
 3035,
 3036,
 3037,
 3038,
 3039,
 3040,
 3041,
 3042,
 3043,
 3044,
 3045,
 3046,
 3047,
 9048,
 9049,
 9050,
 9051,
 9052,
 9053,
 9054,
 9055,
 9056,
 9057,
 9058,
 9059,
 9060,
 9061,
 9062,
 9063,
 9064,
 9065,
 9066,
 9067,
 9068,
 9069,
 9070,
 9071]

In [660]:
algebra= algebra.drop(index=missing_algebra)

In [664]:
algebra.rename(columns = {'ncessch':'ncessch_num'}, inplace = True)

In [665]:
algebra["ncessch_num"]=algebra["ncessch_num"].astype(np.int64)

In [666]:
result = pd.merge(result,algebra, left_on = "ncessch_num" , right_on= "ncessch_num", how="inner")

In [342]:
#School Finance

In [650]:
from urllib.request import urlopen
from json import loads
url = "https://educationdata.urban.org/api/v1/schools/crdc/school-finance/2017/"
response = urlopen(url)
school_finance = loads(response.read())
school_finance = pd.DataFrame(school_finance["results"])

In [651]:
school_finance.columns

Index(['crdc_id', 'year', 'ncessch', 'leaid', 'fips', 'salaries_teachers',
       'salaries_total', 'salaries_instruc_staff',
       'salaries_instructional_aides', 'salaries_support',
       'salaries_administration', 'expenditures_nonpersonnel',
       'instructional_aides_fte', 'support_fte', 'administration_fte'],
      dtype='object')

In [652]:
school_finance= school_finance.drop(['crdc_id', 'year', 'leaid', 'fips','salaries_total', 'salaries_instruc_staff', 'salaries_support',
       'salaries_administration', 'expenditures_nonpersonnel',
       'instructional_aides_fte', 'support_fte', 'administration_fte'], axis = 1)

In [653]:
school_finance[school_finance['ncessch']==''].index

Int64Index([   3,   80,   81,   85,  126,  377,  523,  649,  829, 1597, 2155,
            2356, 2753, 2846, 3191, 3192, 3193, 3194, 3195, 3236, 3460, 3461,
            3462, 3463, 3464, 3465, 3466, 3467, 3542, 3654, 3900, 3901, 3902,
            3903, 3904, 3905, 3906, 3907, 3908, 3909, 3910, 3911, 3912, 3913,
            3914, 3915, 3916, 3917, 3943, 3971, 3972, 3973, 3974, 3975, 3976,
            3977, 4312, 4394, 4647, 4731, 5338, 5470, 5471, 5557, 5845, 6178,
            6179, 6180, 6425, 7282, 7423, 7638, 8047, 8866, 8867, 8868, 8869,
            8870, 8871],
           dtype='int64')

In [654]:
school_finance = school_finance.drop(index = [  3,   80,   81,   85,  126,  377,  523,  649,  829, 1597, 2155,
            2356, 2753, 2846, 3191, 3192, 3193, 3194, 3195, 3236, 3460, 3461,
            3462, 3463, 3464, 3465, 3466, 3467, 3542, 3654, 3900, 3901, 3902,
            3903, 3904, 3905, 3906, 3907, 3908, 3909, 3910, 3911, 3912, 3913,
            3914, 3915, 3916, 3917, 3943, 3971, 3972, 3973, 3974, 3975, 3976,
            3977, 4312, 4394, 4647, 4731, 5338, 5470, 5471, 5557, 5845, 6178,
            6179, 6180, 6425, 7282, 7423, 7638, 8047, 8866, 8867, 8868, 8869,
            8870, 8871])

In [661]:
school_finance.rename(columns = {'ncessch':'ncessch_num'}, inplace = True)

In [662]:
school_finance["ncessch_num"]=school_finance["ncessch_num"].astype(np.int64)

In [663]:
result = pd.merge(result,school_finance, left_on = "ncessch_num" , right_on= "ncessch_num", how="inner")

In [151]:
#Source: MEPS 
#School Poverty Measure

In [677]:
from urllib.request import urlopen
from json import loads
url = "https://educationdata.urban.org/api/v1/schools/meps/2017/"
response = urlopen(url)
school_poverty = loads(response.read())
school_poverty=pd.DataFrame(school_poverty["results"])

In [679]:
school_poverty[school_poverty["ncessch"]==''].index

Int64Index([], dtype='int64')

In [680]:
school_poverty.columns

Index(['year', 'fips', 'gleaid', 'ncessch', 'ncessch_num', 'leaid',
       'meps_poverty_pct', 'meps_poverty_se', 'meps_poverty_ptl',
       'meps_mod_poverty_pct', 'meps_mod_poverty_ptl'],
      dtype='object')

In [681]:
school_poverty= school_poverty.drop(['year', 'fips', 'gleaid', 'ncessch','leaid','meps_poverty_pct', 'meps_poverty_se', 'meps_poverty_ptl','meps_mod_poverty_ptl'], axis =1)

In [683]:
result = pd.merge(result,school_poverty, left_on = "ncessch_num" , right_on= "ncessch_num", how="inner")

In [694]:
from urllib.request import urlopen
from json import loads
url = "https://educationdata.urban.org/api/v1/schools/crdc/ap-exams/2017/race/sex/"
response = urlopen(url)
ap_exams = loads(response.read())

In [695]:
ap_exams = pd.DataFrame(ap_exams["results"])

In [696]:
ap_exams.columns

Index(['crdc_id', 'ncessch', 'year', 'fips', 'leaid', 'race', 'sex',
       'disability', 'lep', 'students_AP_exam_none', 'students_AP_pass_none',
       'students_AP_exam_oneormore', 'students_AP_pass_oneormore',
       'students_AP_exam_all', 'students_AP_pass_all'],
      dtype='object')

In [697]:
ap_exams=ap_exams.drop(['crdc_id', 'year', 'fips', 'leaid', 'race', 'sex',
       'disability', 'lep'], axis=1)

In [698]:
ap_exams[ap_exams["ncessch"]==''].index

Int64Index([  24,   25,   26,   27,   28,   29,   30,   31,  640,  641,  642,
             643,  644,  645,  646,  647,  648,  649,  650,  651,  652,  653,
             654,  655,  680,  681,  682,  683,  684,  685,  686,  687, 1008,
            1009, 1010, 1011, 1012, 1013, 1014, 1015, 3016, 3017, 3018, 3019,
            3020, 3021, 3022, 3023, 4184, 4185, 4186, 4187, 4188, 4189, 4190,
            4191, 5192, 5193, 5194, 5195, 5196, 5197, 5198, 5199, 6632, 6633,
            6634, 6635, 6636, 6637, 6638, 6639],
           dtype='int64')

In [699]:
ap_exams = ap_exams.drop(index=[  24,   25,   26,   27,   28,   29,   30,   31,  640,  641,  642,
             643,  644,  645,  646,  647,  648,  649,  650,  651,  652,  653,
             654,  655,  680,  681,  682,  683,  684,  685,  686,  687, 1008,
            1009, 1010, 1011, 1012, 1013, 1014, 1015, 3016, 3017, 3018, 3019,
            3020, 3021, 3022, 3023, 4184, 4185, 4186, 4187, 4188, 4189, 4190,
            4191, 5192, 5193, 5194, 5195, 5196, 5197, 5198, 5199, 6632, 6633,
            6634, 6635, 6636, 6637, 6638, 6639])

In [700]:
ap_exams.rename(columns = {'ncessch':'ncessch_num'}, inplace = True)

In [701]:
ap_exams["ncessch_num"]=ap_exams["ncessch_num"].astype(np.int64)

In [703]:
result = pd.merge(result,ap_exams, left_on = "ncessch_num" , right_on= "ncessch_num", how="inner")

In [704]:
result.columns

Index(['ncessch_num', 'read_test_num_valid', 'read_test_pct_prof_midpt',
       'read_test_pct_prof_high', 'read_test_pct_prof_low',
       'math_test_num_valid', 'math_test_pct_prof_midpt',
       'math_test_pct_prof_high', 'math_test_pct_prof_low', 'leaid',
       'school_name_crdc', 'lea_name', 'lea_state',
       'primarily_serve_students_w_dis', 'charter_crdc', 'magnet_crdc',
       'alt_school', 'alt_school_focus', 'ability_grouped_math_or_eng',
       'ug_elementary_school', 'ug_middle_school', 'ug_high_school', 'race',
       'sex', 'disability', 'lep', 'teachers_fte_crdc',
       'teachers_certified_fte', 'teachers_uncertified_fte',
       'teachers_first_year_fte', 'teachers_second_year_fte',
       'teachers_current_sy', 'teachers_absent_fte', 'enrl_biology',
       'enrl_chemistry', 'enrl_advanced_math', 'enrl_calculus',
       'enrl_algebra2', 'enrl_physics', 'enrl_geometry', 'salaries_teachers',
       'salaries_instructional_aides', 'enrl_algebra1',
       'students_passing_algebra1', 'meps_mod_poverty_pct',
       'students_AP_exam_none', 'students_AP_pass_none',
       'students_AP_exam_oneormore', 'students_AP_pass_oneormore',
       'students_AP_exam_all', 'students_AP_pass_all'],
      dtype='object')

In [707]:
result.shape

(3666816, 51)

In [ ]:
result.